p
{
  padding-left: 10px;
}
.proc
{
  font-family: Arial;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #778b97;
}


